name: Test

on:
  push:
    branches-ignore:
      - '**-wip'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    # Pull requests from the same repository won't trigger this checks as they were already triggered by the push
    if: (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository)
    strategy:
      matrix:
        go-version: ['1.23', '1.24', '1.25']
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
        cache: true
        cache-dependency-path: '**/go.sum'

    - name: Run tests
      run: make test GOTEST_FLAGS="-v"
